<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static('css', 'base.css') }}">
</head>
<body>
    <div class="main_table">
        <div class="main_table_header_row">
            Area of the logo
        </div>
        <div class="main_table_header_row height_5">
            <div class="main_table_cell height_100 width_100 main-menu without_right_border">
                <a href="/" class="control">Главная</a>
            </div>
            <div class="main_table_cell height_100 width_100 main-menu without_right_border">
                <a href="/" class="control">Знатоки</a>
            </div>
            <div class="main_table_cell height_100 width_100 main-menu without_right_border">
                <a href="/" class="control">Телезрители</a>
            </div>
            <div class="main_table_cell height_100 width_100 main-menu">
                <a href="/" class="control">Летопись</a>
            </div>
        </div>
        <div class="main_table_row">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
